{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "eslint"
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "eslint",
    }],
    ["@semantic-release/github", {
      "preset": "eslint",
      "assets": [
        {"path": "dist/api/**"},
      ]
    }],
    ["@semantic-release/git", {
      "preset": "eslint",
      "assets": ["package.json"],
      "message": "Chore: ${nextRelease.version}\n\n${nextRelease.notes}"
    }]
  ]
}